.navigation {
    background-color: #2c3e50; 
    color: #ffffff; 
    display: flex;
    
    align-items: center;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}


.logo img {
    height: 150px; 
}


nav {
    width: 50%;
    padding: 1%;
}


ul {
    width: 50%;
    margin-left: auto;

}
nav ul {
    list-style-type: none; 
    padding: 0; 
}
nav li {
    padding: 10px 15px;
    cursor: pointer;
}
nav li:hover {
    background-color: #34495e;
}


.heroImg {
    height: 350px;
    padding: 25px;
  
}


.content {
    width: 500px;
    margin: 0 auto;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 5px;
    
}


footer {
    background-color: #373738;
    padding: 20px;
    color: #ffffff;
    text-align: center;
   
}

footer ul {
    display: inline-block;
   
    vertical-align: top;
   
    padding: 0;
   
    margin: 0;
   
}

footer li {
    display: inline-block;

    padding: 0 10px;

}


li,
p {
    font-family: 'Open Sans', sans-serif;

}

.btnResume{
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btnResume:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}



.profile-photo {
    width: 100px;       
    height: 100px;     
    border-radius: 50%; 
    object-fit: cover;  
}
.profile-container{
    display: flex;
    align-content: center;
    justify-content: center;
}
.button-container{
    display: flex;
    align-content: center;
    justify-content: center;
}
/*my ux skills/*
/* My UX Skills section coded using CSS flex */
.mySkills {
    padding: 20px; /* Adds padding around the section for spacing */
    /* background-color: #f0f0f0;  */
  }
  .mySkills h1{
    text-align: center;
  }
  
  .flexContainer {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
  }
  
  .flexContainer .skill-container {
    width: 33%; 
    margin: 10px; 
    padding: 20px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
  }
  
  .flexContainer img {
    width: 100%; 
    height: auto; 
    max-width: 120px; 
    margin: 0 auto;
  }
  
  .flexContainer h3,
  .flexContainer p {
    text-align: center; 
  }
  @media (max-width: 768px) {
    .flexContainer {
      flex-direction: column; 
    }
  
    .flexContainer div {
      width: 100%; 
    }
  }
/* my work*/
.myWork {
    padding: 20px;
  }
  
  .workGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto auto; 
    grid-gap: 20px; 
    grid-template-areas:
      "image1 details1"
      "image2 details2";
  }
  
  .project.image1 { grid-area: image1; display: flex;justify-content: center;align-items: center;}
  .project.details1 { grid-area: details1; }
  .project.image2 { grid-area: image2; display: flex;justify-content: center;align-items: center;}
  .project.details2 { grid-area: details2; }
  
  .project img {
    /* width: 100%; 
    height: auto; */
    max-height: 180px;
    width: 50%;
  }
  
  .project button {
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .project p {
    margin: 5px 0;
    font-size: 15px;
    padding: 6px 0px;
  }
  .project h4 {
    margin: 5px 0;
    font-size: 20px;
    padding: 6px 0px;
  }
  /* Media query for screens with a max width of 600 pixels */
@media (max-width: 600px) {
    /* Adjusting the flex container for mobile devices */
    .flexContainer {
      display: flex;
      flex-direction: column; /* Stacks flex children vertically */
    }
  
    /* Make all flex children take up 100% width of their container */
    .flexContainer div {
      width: 100%;
    }
  
    /* Adjusting the grid container for mobile devices */
    .workGrid {
      grid-template-columns: 1fr; /* Single column layout */
      grid-template-rows: auto; /* Row height based on content */
      grid-template-areas:
        "image1"
        "details1"
        "image2"
        "details2";
      
    }
  
    .project.image1 { grid-area: image1; }
    .project.details1 { grid-area: details1; }
    .project.image2 { grid-area: image2; }
    .project.details2 { grid-area: details2; }
  }
  
  .round-photo {
    width: 100px;       
    height: 100px;     
    object-fit: cover;  
}
.round-photo-container{
    display: flex;
    margin-left: auto;
    align-content: center;
    justify-content: center;
}